body main {
    min-width: 1000px;
}
body main h1 {
    padding-left: 33px;
    font-size: 22px;
    border-bottom: solid 2px gray;
    background-image: url('../img/square.png');
    background-size: contain;
    background-repeat: no-repeat;
}